html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

*,
* ::before,
*::after {
    box-sizing: inherit ;
}

body {
    background-image: url(/img/hotel.jpg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 60%;
    background-color: rgba(58, 105, 151, 0.678);
    color:whitesmoke;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li {
    display: inline;

}

nav a {
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin-right: 8px;
}

.policies {
    margin-bottom: 2rem;
}

form {
    padding-left: 3rem;
}

label,
span{
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    text-align: right;
}

.radio label {
    width: 12px;
}

span {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox]
    padding: 10px;
    margin: 8px 0;
    border: none;
    
