html { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    color:blueviolet;
}

h1,
h2,
h3 {
    color: rgb(58, 56, 69);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline dotted rgba(138, 43, 226) 5px;
    text-underline-offset: 12px;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.8rem;;
    text-decoration: none;
}

h2::before,
h2::after {
    content: "\1F941 ";
}

h3 { 
    font-size: 1.5rem;
}

nav li {
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
}


nav,
header {
    text-align: center;
}

nav a,
.assignments a,
footer a {
    text-decoration: none;
    color: rgb(45, 49, 250);
}

nav a:hover::before {
    content: "\270F ";
}

header p {
    font-size: 80%;
}

.assignments a:link,
.assignments a:visited {
    line-height: 1.6;
}

.assignments a:hover,
.assignments a:active {
    text-decoration: underline double rgba(138, 43, 226) 2px;
    text-underline-offset: 4px;
}

.assignments li::before {
    content: "\270F ";
    font-size: 1.6rem;
}

footer {
    color:rgb(58, 56, 69);
    line-height: 80%;
    font-weight: 500;
}

