/*
font-family: 'Poppins', sans-serif;
font-family: 'Dancing Script', cursive;
*/

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.20rem;
    line-height: 125%;
    color: #50504f;
}

*,
* ::before,
*::after {
    box-sizing: inherit ;
}

nav {
    background-color: #c98226;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
padding: 20px;
display: inline-block;
color: #50504f;
text-decoration: underline;
text-transform: uppercase;
letter-spacing: 1px;
}

nav a:hover,
nav a:active {
padding: 20px;
display: inline-block;
color: #50504f;
text-decoration: underline;
}
